input_csv_files/
.Rproj.user
.RData
.Rhistory
*.Rproj
R_proj_files/

# R workspace files
.RData
.Rhistory
.Rproj.user/

01_filtered_ASV_tables/
*.rds
*.rda
.RData
.RDataTmp*
.RData
.RDataTmp*
*.html
*_files/
